
@{
    ViewBag.Title = "Completed";
}
    <div class="container mt-4">
        <div class="text-center">
            <h2>Sifaris Qeydə Alındı</h2>
            <h4>Ən yaxın zamanda sizə geri dönüş ediləcəkdir</h4>
        </div>
    </div>